:root {
    --radial-bg: radial-gradient(85.9% 85.9% at 50% 14.1%, rgb(41, 48, 61) 0%, var(--dark-blue) 100%);
    --rose: #c271ff;
    --white: #ffffff;
    --black: #000000;
    --grey: #979797;
    --dark-blue: #071629;
}

html {
    background-color: var(--black);
    color: var(--white);
}

body,
header,
main,
footer,
div,
section {
  box-sizing: border-box
  max-width 100%;
}

body {
    background: var(--radial-bg), url("C:\Users\hp\Documents\csspractice\css_advanced\Object.png");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
blockquote,
p,
button,
a {
    font-family: "Source Sans Pro";
    color: inherit;
    max-width: 100%;
    word-wrap: break-word;
}

button {
    border: none;
    padding: 1em;
    border-radius: 2em;
    box-shadow: var(--black) 0 2px 3px;
    cursor: pointer;

}

.bg-rose {
    background-color: var(--rose);
}

.bg-white {
    background-color: var(--white);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.color-rose {
    color: var(--rose);
    font-weight: bold;
}

.color-grey {
    color: var(--grey);
}

header {
    padding: 2rem 3rem;

    nav {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        >* {
            flex:2;
            box-sizing: border-box;
            max-width: fit-content;
        }
    }
    
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            margin: 0 1rem;

            a{
                text-decoration: none;
            }

            a:visited,
            a:active {
                text-decoration: none;
            }
        }
    }
    
}